header {
    background-color: #23967F;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 10px 10px 10px;
    text-align: left;
    font-size: 32px;
    margin: 0px;
}
nav {
    background-color: #cce4df;
    color: black;
    padding: 10px 10px;
    text-align: left;
    justify-content: center;
    align-items: center;
    background-color: #cce4df;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 10px;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

section {
    background-color: white;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    padding: 10px 10px;
    text-align: left;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

section content {
    font-size: 14px;
}

.responsive {
  width: 100%;
    max-width: 400px;
  height: auto;
}

header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: left;
    padding: 10px 10px;
    margin: 0px;
}

footer {
    margin-top: 10px;
    margin-bottom: 0px;
    background-color: #333;
    color: #fff;
    padding: 10px 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    background-color: #333;
    color: #fff;
}
  @media only screen and (min-width: 1025px) {
   .column {
        float: left;
        width: 50%;
        padding-right: 5%;
      }
    .row:after {
        content: "";
        display: table;
        clear: both;
      }
  }
